#tabela{
    display: flex;    
    justify-content: center;
}

table{
    border: 15px solid black;
    border-spacing: 0;
}

td{
    border: solid 1px black;
    width: 94px;
    height: 94px;
    border-spacing: 0px;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}

tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}

img{
    width: 90px;
    height: 90px;
}

.green{
    transition: background-color 1s;
    background-color: rgba(144, 238, 144) !important;
    cursor: pointer;
}

.clickedOn{
    transform: scale(1.2)
}

.tekst{
    display: flex;    
    justify-content: center;
}

.tekst p{
    font-size: 25px;
}

.buton{
    display: flex;    
    justify-content: center;
}

.buton button{
    width: 60px;
    height: 40px;
    font-size: 20px;
}

#restart{
    width: 80px;
    height: 40px;
}